@import 'basic.scss';

/* -- header -------------------------------------*/
#web_head{
    #gnb{width: 100%; height: 24px; background-color: $white;
        >ul{width: 194px; height: 14px; margin: 0 auto; padding: 5px 20px 5px 746px;
            >li{width: 60px; height: 100%; margin-left: 30px; padding-left: 6px;
                float: left;
                &:last-child{width: 62px;}
                a{@extend %block;
                  span{@extend %block; @include fontOpt($bold: bold, $color: $black);}
                }// a
            }// li
        }// ul
    }// #gnb
    #nav {width: 960px; height: 106px; margin: 0 auto;
        position: relative;
        h1{width: 190px; height: 60px; padding-top: 22px; padding-left: 20px; float: left;
            a{@extend %block;
              @include backOpt;
              background-image: url("../img/all/head/showbox_logo.png");
            }
        }
        ul{width: auto; height: 20px; 
           padding: 50px 20px 36px 26px; float: right; 
           li{width: auto; height: 100%; margin-left: 90px; float: left;
               a{@extend %block;}
               span{@extend %block; @include fontOpt($bold: bold, $size: 1.25rem);
                   &:hover{color: #f5a601;}
            
                }
            }// li
        }// ul
    }// #nav
}// #web_head

#menu_box{width: 530px; height: 130px;   
          padding: 10px 0  10px 430px;
          background-color: rgba($white, 0.9);
          position: absolute; z-index: 200; top: 130px; 
          display: none;
    >ul{height: 100%; padding-left: 20px;
        border-left: 2px solid $orange; float: left;
        &:nth-of-type(1){width: 80px; margin-right: 70px;}
        &:nth-of-type(2){width: 60px; margin-right: 65px;}
        &:nth-of-type(3){width: 60px; margin-right: 25px;}
        &:nth-of-type(4){width: 60px;}
        >li{width: 100%; height: 34px; float: left;
            a{@extend %block; }// a
            span{@extend %block; 
                @include fontOpt($bold: bold, $size: 0.875rem, $color: $black);
                text-align: center; line-height: 34px;
                &:hover{text-decoration: underline; color: #555;}
            }// span
        }// li
    }// ul
}// #menu_box
